/* АНИМАЦИИ */

@keyframes logotype-animation{
    0%{
        border-radius: 100%;
    }
    20%{
        border-radius: 37% 63% 46% 54% / 23% 88% 12% 77%;
    }
    40%{
        border-radius: 91% 9% 91% 9% / 96% 35% 65% 4%;
    }
    100%{
        border-radius: 53% 47% 49% 51% / 78% 31% 69% 22%;
    }
}   