/* СВОЙСТВА */
* {
    margin: 0;
    padding: 0;
}

h1,h2,h3,p{
    margin: 0;
    padding: 0;
}




.sector-bars{
    display: flex;
    justify-content: center;
    background: linear-gradient(to left, #f44545, #eea849);
    max-height: 70px;
}
.burger{
    display: none;
}
.navigation-bar-list{
    display: flex;
}
.navigation-bar-list a{
    display: block;
    padding: 0.7em;
    color: white;
    text-decoration: none;
}




.navigation-bar-list a:hover{
    background: #dddddd;
    color: black;
}
.burger:hover{
    background: #dddddd;
    color: black;
}







.sector-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.conteiner-logotype{
    display: flex;
}
.about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px;
    width: 450px;
}
.about-us > h1{
    font-size: 48px;
    margin-bottom: 20px;
}
.name > h2{
    font-size: 24px;
    font-weight: 500px;
}
.any > p{
    font-size: 17px;
    margin: 0;
    
}
.logotype{
    margin: 25px;
    max-width: 400px;
    justify-self: center;
    overflow: hidden;

    border: 10px solid #f48245;
    box-shadow: 2px 5px 10px;
    
    animation: logotype-animation 7s infinite alternate;
}





/* ПОДКЛЮЧЕНИЯ */
@font-face {
    font-family: "Rubik";
    src: url("../fonts/font-main.ttf");
}

/* ПЕРЕМЕННЫЕ */
:root {
    --main-color: rgb(154, 255, 154);
    --main-font: small-caps bold 24px/1 sans-serif;
    font: var(--main-font);
}

@media  (max-width: 950px) {
    .burger{
        display: block;
        padding-inline: 20px;
        max-height: 70px;
        cursor: pointer;
        font-size: 2em;
        border: none;
        background: none;
        color: white;
    }

    .navigation-bar-list{
        display: none;
    }

    .navigation-bar:hover .navigation-bar-list{
        display: block;
        position: absolute;
        background: linear-gradient(to right, #eea849,#ea9c2f);
    }

    .sector-bars {
        justify-content: left;
    }




    .conteiner-logotype{
        display: block;
        text-align: center;
    }
}